<div class="margin vertical top-bottom-10">
  <div class="d-flex justify-content-center align-items-center min-h-500px">
    <div class="btn-group" role="group" aria-label="Auswertung" *ngFor="let tab of tabs; let i = index">
      <button type="button"
              class="btn btn-secondary"
              [ngClass]="{'active': (selectedTab$|async) === i}"
              (click)="setTab(i)">
        {{tab}}
      </button>
    </div>
  </div>
</div>
<ng-container *ngIf="(selectedTab$|async) === 0">
  <div class="row" *ngIf="(favouredSecurities$|async) as favouredSecurities">
    <div class="col-12" *ngIf="favouredSecurities.length > 1">
      <div class="alert alert-warning" role="alert">
        Achtung! Die meisten Banken/Broker erlauben nur Sparpläne mit einen Wert.
        Du müsstest also <span class="font-weight-bold">mehrere Sparpläne</span> eröffnen,
        sprich für jedes Wertpapier 1 Sparplan.
        <a [routerLink]="['/' + ROUTES_SAVING_PLAN_COSTS]">Mehr Informationen <span class="fa fa-arrow-circle-right"></span></a>
      </div>
    </div>
    <div class="col-12" *ngIf="favouredSecurities.length > 0">
      <div>
        <span class="btn-link clickable small" (click)="showCosts=!showCosts">
          Sparplaninformation
          <span *ngIf="!showCosts">einblenden <span class="fa fa-plus-circle"></span></span>
          <span *ngIf="showCosts">ausblenden <span class="fa fa-minus-circle"></span></span>
        </span>
      </div>
    </div>
    <ul class="list-group" *ngIf="favouredSecurities.length > 0">
      <li class="list-group-item" *ngFor="let fav of favouredSecurities; let ind = index">
        <app-security-list-item
          [fav]="fav"
          [totalPrice]="totalPrice"
          [sparplanSum]="sparplanSum$|async"
          [percentagesAreCorrect]="this.sparplanService.addsUptoSparplanSum(favouredSecurities, sparplanSum$|async)"
          [showCosts]="showCosts"
          [listItemCounter]="ind"
          [isTemplate]="false"
        >
        </app-security-list-item>
      </li>
    </ul>
    <ng-container *ngIf="favouredSecurities.length === 0">
      <div class="col-12">
        <app-sparplan-home></app-sparplan-home>
      </div>
    </ng-container>
  </div>
  <div class="row" *ngIf="(favouredSecurities$|async).length > 0">
    <div class="col-12">
      <div>Deine gesamte Sparplansumme beträgt <span class="font-weight-bold">{{sparplanSum$|async}} {{Currency.EUR}}</span></div>
      <div class="small">
        (Ohne Kaufgebühren)
        <span class="btn-link clickable" (click)="showCosts=!showCosts">
          Kaufgebühren & Sparplaninformationen
          <span *ngIf="!showCosts">einblenden <span class="fa fa-plus-circle"></span></span>
          <span *ngIf="showCosts">ausblenden <span class="fa fa-minus-circle"></span></span>
        </span>
      </div>
    </div>
  </div>
  <hr />
  <div class="row" *ngIf="(favouredSecurities$|async) as favouredSecurities">
    <div class="col-12" *ngIf="favouredSecurities.length > 0">
      <small>
        Mit ähnlicher Performance und monatlicher Einzahlung würde sich dein Sparplan so entwickeln:
      </small>
      <div>
        <app-sparplan-chart
        [sparplanSum]="sparplanSum$|async"
        [numberOfYearsWithPerformance]="numberOfYearsWithPerformance"
        [yieldYears]="yieldYears"
        [favouredSecurities]="favouredSecurities"></app-sparplan-chart>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="(selectedTab$|async) === 1">
  <div class="row"  *ngIf="(favouredSecurities$|async) as favouredSecurities">
    <div class="col-12" *ngIf="favouredSecurities.length > 0">
      <app-stocks-industry-chart [stocks]="favouredSecurities"></app-stocks-industry-chart>
    </div>
    <div class="col-12" *ngIf="favouredSecurities.length > 0">
      <app-etf-sector-chart [etfs]="favouredSecurities"></app-etf-sector-chart>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="(selectedTab$|async) === 2">
  <div class="row">
    <div class="col-12">
      <small>
        Diese ETFs enthalten ähnliche Aktien (wie in deinem Sparplan):
      </small>
      <div>
        <app-etfs-matcher [favourites]="favouredSecurities$|async"></app-etfs-matcher>
      </div>
    </div>
  </div>>
</ng-container>
