<div class="margin vertical top-bottom-10">
  <div class="d-flex justify-content-center align-items-center min-h-500px">
    <div class="btn-group" role="group" aria-label="Auswertung" *ngFor="let tab of tabs; let i = index">
      <button type="button"
              class="btn btn-secondary"
              [ngClass]="{'active': (selectedTab$|async) === i}"
              (click)="setTab(i)">
        {{tab}}
      </button>
    </div>
  </div>
</div>
<ng-container *ngIf="(selectedTab$|async) === 0">
  <div class="row" *ngIf="(favouredSecurities$|async) as favouredSecurities">
    <div class="col-12" *ngIf="favouredSecurities.length > 1">
      <div class="alert alert-warning" role="alert">
        Deine <span class="font-weight-bold">gesamte Sparplansumme beträgt {{(sparplanSum$|async) | number:'1.2-2':'de'}} {{Currency.EUR}}</span>.
        Diese wurde aufgeteilt auf mehrere Sparpläne, da Banken/Broker nur 1 Wertpapier pro Sparplan erlauben.
        <a [routerLink]="['/' + ROUTES_SAVING_PLAN_COSTS]">Mehr Informationen <span class="fa fa-arrow-circle-right"></span></a>
      </div>
    </div>
    <div class="col-12" *ngIf="favouredSecurities.length > 0">
      <div>
        <span *ngIf="favouredSecurities.length===1">Dein Sparplan</span>
        <span *ngIf="favouredSecurities.length>1">Deine Sparpläne</span>
      </div>
    </div>
    <ul class="list-group" *ngIf="favouredSecurities.length > 0">
      <li class="list-group-item" *ngFor="let fav of favouredSecurities; let ind = index">
        <app-security-list-item
          [fav]="fav"
          [totalPrice]="totalPrice"
          [sparplanSum]="sparplanSum$|async"
          [percentagesAreCorrect]="this.sparplanService.addsUptoSparplanSum(favouredSecurities, sparplanSum$|async)"
          [listItemCounter]="ind"
          [isTemplate]="false"
          [whichVersion]="'long'"
        >
        </app-security-list-item>
      </li>
    </ul>
    <ng-container *ngIf="favouredSecurities.length === 0">
      <div class="col-12 text-center">
        <div>
          Du hast noch keine Wertpapiere hinzugefügt.
        </div>
        <a [routerLink]="'/' + ROUTE_SAVING_PLAN_KONFIGURATOR" class="btn btn-primary">Starte einen Sparplan</a>
      </div>
    </ng-container>
  </div>
  <hr />
  <div class="row" *ngIf="(favouredSecurities$|async) as favouredSecurities">
    <div class="col-12" *ngIf="favouredSecurities.length > 0">
      <div>
        Information zur Entwicklung deines Sparplans:
      </div>
      <app-sparplan-chart
      [sparplanSum]="sparplanSum$|async"
      [numberOfYearsWithPerformance]="numberOfYearsWithPerformance"
      [yieldYears]="yieldYears"
      [favouredSecurities]="favouredSecurities"></app-sparplan-chart>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="(selectedTab$|async) === 1">
  <div class="row"  *ngIf="(favouredSecurities$|async) as favouredSecurities">
    <div class="col-12" *ngIf="favouredSecurities.length > 0">
      <app-stocks-industry-chart [stocks]="favouredSecurities"></app-stocks-industry-chart>
    </div>
    <div class="col-12" *ngIf="favouredSecurities.length > 0">
      <app-etf-sector-chart [etfs]="favouredSecurities"></app-etf-sector-chart>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="(selectedTab$|async) === 2">
  <div class="row">
    <div class="col-12">
      <small>
        Diese ETFs enthalten ähnliche Aktien (wie in deinem Sparplan):
      </small>
      <div>
        <app-etfs-matcher [favourites]="favouredSecurities$|async"></app-etfs-matcher>
      </div>
    </div>
  </div>
</ng-container>
