<div class="margin vertical top-bottom-10">
  <div class="d-flex justify-content-center align-items-center min-h-500px">
    <div class="btn-group" role="group" aria-label="Auswertung" *ngFor="let tab of tabs; let i = index">
      <button type="button"
              class="btn btn-secondary"
              [ngClass]="{'active': (selectedTab$|async) === i}"
              (click)="setTab(i)">
        {{tab}}
      </button>
    </div>
  </div>
</div>
<ng-container *ngIf="(selectedTab$|async) === 0">
  <div class="row" *ngIf="(favouredSecurities$|async) as favouredSecurities">
    <div class="col-12" *ngIf="favouredSecurities.length > 1">
      <div class="alert alert-warning" role="alert">
        Achtung! Die meisten Banken/Broker erlauben nur Sparpläne mit einen Wert.
        <a [routerLink]="['/kosten-eines-sparplans']">mehr <span class="fa fa-arrow-circle-right"></span></a>
      </div>
    </div>
    <div class="col-12" *ngIf="favouredSecurities.length > 0">
      <div class="row">
        <div class="col-6 font-weight-bold">
          <div>
            Du investierst direkt an der Börse
          </div>
        </div>
        <div class="col-6 font-weight-bold">
          <div>
            oder in einen Sparplan
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="!percentagesAreCorrect(favouredSecurities)">
            Die Gewichtungen ergeben keine 100%!
          </div>
        </div>
      </div>
    </div>
    <ul class="list-group" *ngIf="favouredSecurities.length > 0">
      <li class="list-group-item" *ngFor="let fav of favouredSecurities">
        <div class="row">
          <div class="col-12">
            <a *ngIf="fav.item.securityType!==SecurityType.ETF" class="" [routerLink]="['/unternehmen', fav.item.name, fav.item.id]">
              <span class="badge badge-yellow">Aktie</span> {{fav.item.name}} <span class="fa fa-arrow-circle-right"></span>
            </a>
            <a *ngIf="fav.item.securityType===SecurityType.ETF" class="" [routerLink]="['/etf', fav.item.name, fav.item.isin]">
              <span class="badge badge-green">ETF</span> {{fav.item.name}} <span class="fa fa-arrow-circle-right"></span>
            </a>
            <div class="float-right">
              <app-add-to-sparplan [version]="'short'" [company]="fav.item"></app-add-to-sparplan>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-6">
                <app-number-input
                [anzahl]="fav.amount"
                [smallestUnit]="fav.item.smallestTradeableUnit"
                [unit]="'Stk.'"
                (numberChanged)="updateStore($event, fav.item)"
                ></app-number-input>
                <app-price-display [fav]="fav"></app-price-display>
              </div>
              <div class="col-6">
                <app-get-percentage [fav]="fav" [totalPrice]="totalPrice" [sparplanSum]="sparplanSum$|async"></app-get-percentage>
                <div class="error" *ngIf="!percentagesAreCorrect(favouredSecurities)">
                  Überprüfe den Wert
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="col-12" *ngIf="favouredSecurities.length === 0">
      Du hast noch keine Aktien oder ETFs in deinem Sparplan.
    </div>
  </div>
  <div class="row" *ngIf="(favouredSecurities$|async) as favouredSecurities">
    <div class="col-6" *ngIf="favouredSecurities.length > 0">
      <div>
        <div>Deine Kaufsumme an der Börse</div>
        <div>wäre <span class="font-weight-bold">ca. {{totalPrice | number:'1.0-0':'de'}}</span> EUR</div>
      </div>
      <div class="small">
        (Ohne Kaufgebühren, Provisionen etc.)
      </div>
    </div>
    <div class="col-6" *ngIf="favouredSecurities.length > 0">
      <div>
        <div>Deine Sparplansumme beträgt</div>
        <div class="font-weight-bold">
          <app-number-input
          [anzahl]="sparplanSum$|async"
          [smallestUnit]="1"
          [unit]="'EUR'"
          (numberChanged)="updateSparplanTotal($event)"
          ></app-number-input>
        </div>
        <div class="small">
          (Ohne Kaufgebühren)
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="row" *ngIf="(favouredSecurities$|async) as favouredSecurities">
    <div class="{{chartExpanded ? 'col-2 small' : 'col-6'}}" *ngIf="favouredSecurities.length > 0">
      <small>
        Performance (kumulativ, und ohne Dividende)
      </small>
      <div class="row" *ngFor="let x of totalPastPrices; let i = index">
        <div class="col-12 col-sm-6" >
          {{performanceYears[i]}}
        </div>
        <div class="col-12 col-sm-6">
          <ng-container *ngIf="x > 0">
            <div>
              ca. {{getPerformance(x) | number:'1.0-0':'de' }} %
            </div>
            <div class="small" *ngIf="totalPastPrices[i]>0">
              Du hättest ca. {{totalPastPrices[i] | number:'1.0-0':'de'}} EUR bezahlt.
            </div>
          </ng-container>
          <ng-container *ngIf="x==0">
            -
          </ng-container>
        </div>
      </div>
    </div>
    <div class="{{chartExpanded ? 'col-10' : 'col-6'}}" *ngIf="favouredSecurities.length > 0">
      <small>
        Mit ähnlicher Performance und monatlicher Einzahlung ...
        <div class="float-right clickable" (click)="chartExpanded=!chartExpanded">
          <span class="fa fa-expand"></span>
        </div>
      </small>
      <div>
        <app-sparplan-chart
        [sparplanSum]="sparplanSum$|async"
        [numberOfYearsWithPerformance]="numberOfYearsWithPerformance"
        [yieldYears]="yieldYears"
        [favouredSecurities]="favouredSecurities"></app-sparplan-chart>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="(selectedTab$|async) === 1">
  <div class="row"  *ngIf="(favouredSecurities$|async) as favouredSecurities">
    <div class="col-12" *ngIf="favouredSecurities.length > 0">
      <app-stocks-industry-chart [stocks]="favouredSecurities"></app-stocks-industry-chart>
    </div>
    <div class="col-12" *ngIf="favouredSecurities.length > 0">
      <app-etf-sector-chart [etfs]="favouredSecurities"></app-etf-sector-chart>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="(selectedTab$|async) === 2">
  <div class="row">
    <div class="col-12">
      <small>
        Diese ETFs enthalten ähnliche Aktien (wie in deinem Sparplan):
      </small>
      <div>
        <app-etfs-matcher [favourites]="favouredSecurities$|async"></app-etfs-matcher>
      </div>
    </div>
  </div>
</ng-container>
