<div class="margin vertical top-bottom-10">
  <div class="d-flex justify-content-center align-items-center min-h-500px">
    <div class="btn-group" role="group" aria-label="Auswertung" *ngFor="let tab of tabs; let i = index">
      <button type="button"
              class="btn btn-secondary"
              [ngClass]="{'active': (selectedTab$|async) === i}"
              (click)="setTab(i)">
        {{tab}}
      </button>
    </div>
  </div>
</div>
<ng-container *ngIf="(selectedTab$|async) === 0">
  <div class="row">
    <div class="col-12">
      <div class="small">
        Dein erstellter Sparplan enthält:
      </div>
    </div>
  </div>
  <div class="row" *ngIf="(favouredSecurities$|async) as favouredSecurities">
    <ul class="list-group" *ngIf="favouredSecurities.length > 0">
      <li class="list-group-item" *ngFor="let fav of favouredSecurities">
        <div class="row">
          <div class="col-12 col-sm-4">
            <app-number-input
            [anzahl]="fav.amount"
            [smallestUnit]="fav.item.smallestTradeableUnit"
            (numberChanged)="updateStore($event, fav.item)"
            ></app-number-input>
          </div>
          <div class="col-12 col-sm-5">
            <a *ngIf="fav.item.securityType!==SecurityType.ETF" class="" [routerLink]="['/unternehmen', fav.item.name, fav.item.id]">
              {{fav.item.name}} <span class="fa fa-arrow-circle-right"></span>
            </a>
            <a *ngIf="fav.item.securityType===SecurityType.ETF" class="" [routerLink]="['/etf', fav.item.name, fav.item.isin]">
              {{fav.item.name}} <span class="fa fa-arrow-circle-right"></span>
            </a>
            <div>
            <span class="badge badge-info margin horizontal right-5" *ngFor="let industryId of fav.item.industries | slice:0:showMore">
              {{getIndustryName(industryId)}}
            </span>
            <ng-container *ngIf="fav.item.industries.length > 1">
              <span class="clickable badge badge-secondary" *ngIf="showMore === 1" (click)="showMore = fav.item.industries.length">weitere <span class="fa fa-plus-circle"></span> </span>
              <span class="clickable badge badge-secondary" *ngIf="showMore > 1" (click)="showMore = 1">weniger <span class="fa fa-minus-circle"></span> </span>
            </ng-container>
            </div>
          </div>
          <div class="col-6 col-sm-2 text-right">
            <app-price-display [fav]="fav"></app-price-display>
          </div>
          <div class="col-6 col-sm-1 text-right">
            <app-add-to-sparplan [version]="'short'" [company]="fav.item"></app-add-to-sparplan>
          </div>
        </div>
      </li>
    </ul>
    <div class="col-12" *ngIf="favouredSecurities.length === 0">
      Du hast noch keine Aktien favourisiert.
    </div>
  </div>
  <div class="row" *ngIf="(favouredSecurities$|async) as favouredSecurities">
    <div class="col-12 text-right" *ngIf="favouredSecurities.length > 0">
      <div>
        <div>Würdest du an der Börse kaufen, wäre die</div>
        <div>Summe: <span class="font-weight-bold">ca. {{totalPrice | number:'1.0-0':'de'}}</span> EUR</div>
      </div>
      <div class="small">
        (Ohne Kaufgebühren, Provisionen etc.)
      </div>
    </div>
    <div class="col-12" *ngIf="favouredSecurities.length > 0">
      <small>
        Performance (kumulativ, und ohne Dividende)
      </small>
      <div class="row" *ngFor="let x of totalPastPrices; let i = index">
        <div class="col-6 col-sm-3 text-right" >
          {{performanceYears[i]}}
        </div>
        <div class="col-6 col-sm-3">
          <span *ngIf="x > 0">
            ca. {{getPerformance(x) | number:'1.0-0':'de' }} %
          </span>
          <span *ngIf="x==0">
            -
          </span>
        </div>
      </div>
    </div>
    <div class="col-12" *ngIf="favouredSecurities.length > 0">
      <small>
        das heisst, wenn
      </small>
      <div class="text-left" *ngFor="let x of totalPastPrices; let i = index">
        <span *ngIf="totalPastPrices[i]>0">
          du vor {{performanceYears[i]}}{{ performanceYears[i] != '1 Jahr' ? 'n' : '' }} gekauft hättest, hättest du ca. {{totalPastPrices[i] | number:'1.0-0':'de'}} EUR bezahlt.
        </span>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="(selectedTab$|async) === 1">
  <div class="row"  *ngIf="(favouredSecurities$|async) as favouredSecurities">
    <div class="col-12" *ngIf="favouredSecurities.length > 0">
      <app-stocks-industry-chart [stocks]="favouredSecurities"></app-stocks-industry-chart>
    </div>
    <div class="col-12" *ngIf="favouredSecurities.length > 0">
      <app-etf-sector-chart [etfs]="favouredSecurities"></app-etf-sector-chart>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="(selectedTab$|async) === 2">
  <div class="row">
    <div class="col-12">
      <small>
        Diese ETFs enthalten ähnliche Aktien (wie in deinem Sparplan):
      </small>
      <div>
        <app-etfs-matcher [favourites]="favouredSecurities$|async"></app-etfs-matcher>
      </div>
    </div>
  </div>
</ng-container>
