<div class="margin vertical top-bottom-10">
  <div class="row margin vertical top-bottom-10">
    <div class="col-12">
      <img src="{{etf.logo}}">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="clickable">
        {{etf.name}}
      </div>
    </div>
    <div class="col-12 col-sm-6 text-right">
      <app-add-to-favourites [version]="'long'" [company]="etf"></app-add-to-favourites>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center align-items-center min-h-500px margin vertical top-bottom-10">
  <div class="btn-group" role="group" aria-label="Auswertung" *ngFor="let tab of tabs; let i = index">
    <button type="button"
            class="btn btn-secondary"
            [ngClass]="{'active': selectedTab === i}"
            (click)="selectedTab = i">
      {{tab}}
    </button>
  </div>
</div>
<ng-container *ngIf="selectedTab === 0">
  
  <div class="row" *ngIf="etf.savingPlans.length > 0">
    <div class="col-12" *ngFor="let savingPlan of etf.savingPlans">
      <div class="card">
        <div class="card-body text-center">
          Sparplanfähig ab {{savingPlan.costs}} EUR Kosten.
          <div class="small">
            Ein Angebot von {{savingPlan.broker}}. (Minimum: {{savingPlan.minInvestment}} EUR / Monat)
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4 small">
      Vergleichsindex:
    </div>
    <div class="col-12 col-sm-8">
      {{etf.tracks}}
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4 small">
      Anlageziel:
    </div>
    <div class="col-12 col-sm-8 font-italic">
      {{etf.description}}
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4 small">
      ISIN:
    </div>
    <div class="col-12 col-sm-8">
      {{etf.isin}}
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4 small">
      Emittent:
    </div>
    <div class="col-12 col-sm-8">
      {{etf.issuer}}
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4 small">
      Fondsmanager:
    </div>
    <div class="col-12 col-sm-8">
      {{etf.manager}}
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4 small">
      TER bzw. jährliche Kosten:
    </div>
    <div class="col-12 col-sm-8">
      {{etf.ter | number:'1.2-2':'de' }} %
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4 small">
      Domizil:
    </div>
    <div class="col-12 col-sm-8">
      {{Countries[etf.country]}}
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4 small">
      Gewinnverwendung:
    </div>
    <div class="col-12 col-sm-8">
      {{etf.gewinn}}
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4 small">
      Perfomance (kumulativ):
    </div>
    <div class="col-12 col-sm-8">
      <div class="row" *ngFor="let per of etf.yields; let i = index">
        <div class="col-6">
          {{performanceYears[i]}}
        </div>
        <div class="col-6">
          ca. {{per | number:'1.0-0':'de'}} %
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4 small">
      Enthaltene Unternehmen:
    </div>
    <div class="col-12 col-sm-8">
      <div *ngFor="let comps of etf.shares">
        <a [routerLink]="['/unternehmen', comps.name, comps.id]">
          {{comps.name}} <span class="fa fa-arrow-circle-right"></span>
        </a>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="selectedTab === 1">
  <div class="row">
    <div class="col-12">
      <small>Nach Regionen</small>
      <canvas baseChart
              [data]="regionChartData"
              [labels]="regionChartLabels"
              [chartType]="pieChartType"
              [plugins]="pieChartPlugins"
              [legend]="pieChartLegend"
              [options]="pieChartOptions">
      </canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <small>Nach Industrien</small>
      <canvas baseChart
              [data]="industryChartData"
              [labels]="industryChartLabels"
              [chartType]="pieChartType"
              [plugins]="pieChartPlugins"
              [legend]="pieChartLegend"
              [options]="pieChartOptions">
      </canvas>
    </div>
  </div>
</ng-container>
