<div class="number-input">
  
  <div *ngIf="!editMode" class="font-weight-bold" (click)="editMode=!editMode">
    {{anzahl | number:'1.2-2':'de'}} {{unit}} <span class="fa fa-edit"></span>
  </div>
  <div *ngIf="editMode">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text" (click)="decrease()">-</div>
      </div>
      <input type="number"
             class="form-control"
             id="inlineFormInputGroup"
             placeholder="Anzahl"
             value="{{anzahl}}"
             autofocus
             (change)="changeNumber($event)"
             (keyup.enter)="changeAnzahl()"
      >
      <div class="input-group-append">
        <div class="input-group-text" (click)="increase()">+</div>
      </div>
      <div class="unit margin horizontal left-5">{{unit}}</div>
      <button class="btn btn-primary margin horizontal left-5" (click)="changeAnzahl()">OK</button>
    </div>
  </div>
  
</div>
