<div class="margin vertical top-bottom-10">
  <div class="row">
    <div class="col-5 text-center">
      <img class="logo" src="{{company.logo}}">
    </div>
    <div class="col-7 text-right">
      <h3>{{company.name}}</h3>
      <div>
        <app-add-to-favourites [version]="'long'" [company]="company"></app-add-to-favourites>
      </div>
      <div>
        {{company.city}}, {{Countries[company.country]}}
      </div>
      <div>
        <a href="{{company.url}}" target="_blank">Webseite</a>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <small>
        <span>Industrie(n): </span>
      </small>
    </div>
    <div class="col-12">
      <span class="small badge badge-info margin horizontal right-5" *ngFor="let industryId of company.industries | slice:0:showMore.noIndustries">
        {{getIndustryName(industryId)}}
      </span>
      <ng-container *ngIf="company.industries.length > 1">
        <span class="clickable badge badge-secondary" *ngIf="showMore.noIndustries === 1" (click)="showMore.noIndustries = company.industries.length">weitere <span class="fa fa-plus-circle"></span> </span>
        <span class="clickable badge badge-secondary" *ngIf="showMore.noIndustries > 1" (click)="showMore.noIndustries = 1">weniger <span class="fa fa-minus-circle"></span> </span>
      </ng-container>
    </div>
  </div>
  
  <ng-container *ngIf="getRankingsForCompany() as rankings">
  
    <div class="row" *ngIf="rankings.length > 0">
      <div class="col-12">
        <small>
          Studien zu Nachhaltigkeit und CSR:
        </small>
      </div>
      <div class="col-12">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let x of rankings | slice:0:showMore.noBadges">
            <span *ngIf="x.maxResult!==1">
              <span class="fa color"
                    [ngClass]="{'fa-thumbs-up color--green': getPercentage(getPointsInRanking(x).points, x.maxResult) > 75,
                    'fa-thumbs-down color--red': getPercentage(getPointsInRanking(x).points, x.maxResult) < 25}"></span>
              {{getPointsInRanking(x).points.toString().replace('.', ',')}}
              von {{x.maxResult}} {{x.unit}}
              für <b>{{x.responsibilityType}}</b>.
              Erhoben von {{x.name}}
            </span>
            <span *ngIf="x.maxResult === 1">
              <span class="fa fa-trophy color color--green"></span> Ausgezeichnet für <b>{{x.responsibilityType}}</b>. In {{x.name}}
            </span>
            <span class="small"><a href="{{x.link}}" target="_blank">Zur Webseite</a></span>
          </li>
        </ul>
        <div class="text-right small" *ngIf="rankings.length > 1">
          <span class="clickable" *ngIf="showMore.noBadges === 1" (click)="showMore.noBadges = rankings.length">weitere <span class="fa fa-plus-circle"></span> </span>
          <span class="clickable" *ngIf="showMore.noBadges > 1" (click)="showMore.noBadges = 1">weniger <span class="fa fa-minus-circle"></span> </span>
        </div>
      </div>
    </div>
  </ng-container>
  
  <ng-container *ngIf="findInEtfs() as foundEtfs">
    <div class="row" *ngIf="foundEtfs.length > 0">
      <div class="col-12">
        <small>
          In folgenden ETFs enthalten:
        </small>
      </div>
      <div class="col-12" *ngIf="showMore.etfs">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let etf of foundEtfs | slice:0:showMore.etfs">
            {{etf.name}}
            <a [routerLink]="['/etf', etf.name, etf.isin]">
             <span class="fa fa-arrow-circle-right"></span>
            </a>
          </li>
        </ul>
        <div class="text-right small"  *ngIf="foundEtfs.length > 1">
          <span class="clickable" *ngIf="showMore.etfs === 1" (click)="showMore.etfs = foundEtfs.length">weitere <span class="fa fa-plus-circle"></span> </span>
          <span class="clickable" *ngIf="showMore.etfs > 1" (click)="showMore.etfs = 1">weniger <span class="fa fa-minus-circle"></span> </span>
        </div>
      </div>
    </div>
  </ng-container>
  
  <div class="row">
    <div class="col-12">
      <small>Das Unternehmen:</small>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <div class="font-italic">
            <span class="clickable" (click)="showMore.description=!showMore.description">
              {{ showMore.description || company.description.length < 100 ? company.description : company.description.substr(0,100) + '.....' }}
            </span>
            <ng-container *ngIf="company.description.length >= 100" [ngSwitch]="showMore.description">
              <span class="clickable" *ngSwitchCase="false" (click)="showMore.description=true">mehr <span class="fa fa-arrow-circle-o-down"></span> </span>
            </ng-container>
            <div class="small" *ngIf="showMore.description">
              Quelle: <a href="{{company.link_wikipedia}}" target="_blank">{{company.link_wikipedia}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <span class="small badge badge-secondary margin horizontal right-5" *ngFor="let tag of company.tags">
        {{tag}}
      </span>
    </div>
  </div>
  
  <div class="row">

    <div class="col-12 margin vertical top-bottom-10">

      <div class="btn-group" role="group" aria-label="details">
        <button type="button" class="btn btn-secondary" [ngClass]="{'active': selectedTab===1}" (click)="selectedTab = 1">Chart</button>
        <button type="button" class="btn btn-secondary" [ngClass]="{'active': selectedTab===0}" (click)="selectedTab = 0">Wertpapier</button>
        <button type="button" class="btn btn-secondary" [ngClass]="{'active': selectedTab===2}" (click)="selectedTab = 2">Produkte</button>
      </div>

    </div>

  </div>

  <div class="row" *ngIf="selectedTab===0">
    <div class="col-12">
      <div>
        <small>Wertpapier(e) des Unternehmens:</small>
      </div>
      <div>
        <div>
          Typ: {{company.securityType}}
        </div>
        <div>
          ISIN: {{company.isin}}
        </div>
        <div>
          Indizes:
          <span class="small badge badge-primary margin horizontal right-5" *ngFor="let ind of company.current_indices">
            {{ind}}
          </span>
        </div>
        <div>
          WKN: {{company.wkn}}
        </div>
        <div>
          Symbol: {{company.symbol}}
        </div>
        <div *ngIf="company.otherTradeableProducts.length > 0">
          <div>
            Andere handelbare Wertpapiere:
          </div>
          <ul>
            <li *ngFor="let tra of company.otherTradeableProducts">
              {{tra.name}}, ISIN: {{tra.isin}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="selectedTab===1">
    <div class="col-12">
      <div>
        <small>Der Chart für {{company.name}}, ISIN: {{company.isin}}</small>
      </div>
        <canvas baseChart
                [data]="chartData"
                [labels]="chartLabels"
                [chartType]="chartType"
                [legend]="chartLegend"
                [options]="chartOptions">
        </canvas>
    </div>
    <div class="col-12">
      <div>
        <small>Performance (kumulativ, und ohne Dividende)</small>
      </div>
      <div class="row" *ngFor="let per of performanceYears; let i = index">
        <div class="col-6">
          {{per}}
        </div>
        <div class="col-6">
          {{performances[i] | number:'1.2-2':'de'}} %
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="selectedTab===2">
    <div class="col-12" *ngIf="company.products.length>0">
        <a name="produkte"><small>Produkte:</small></a>
    </div>
    <div class="col-12" *ngIf="company.products.length>0">
      <div class="row">
        <div class="col-xs-6 col-sm-6 text-center" *ngFor="let product of company.products | slice:0:endNo">
          <img src="{{product.logo}}">
          <div>
            {{product.name}}
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 text-center" *ngIf="company.products.length > batchOfProductsToBeShown">
          <div [ngSwitch]="showMore.products">
            <span class="small btn-link" *ngSwitchCase="true" (click)="setNumberOfProducts()">
              <span class="fa fa-chevron-up icon-big"></span>
              <div>
                weniger Produkte
              </div>
            </span>
            <span class="small btn-link" *ngSwitchCase="false" (click)="setNumberOfProducts()">
              <span class="fa fa-chevron-down icon-big"></span>
              <div>
                mehr
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12" *ngIf="company.products.length===0">
      Keine Produkte gefunden
    </div>
  </div>
</div>
