<div class="margin vertical top-bottom-10">
  
  <div>
    ... oder vielleicht schaust du dir mal die Unternehmen an, über die im Bereich Nachhaltigkeit <span class="fa fa-leaf color color--green"></span>
    und soziale Verantwortung <span class="fa fa-child"></span> positiv berichtet wurde.
  </div>

</div>
<div class="row">
  <div class="col-12" *ngFor="let security of finalList | slice:0:10">
    <div class="card">
      <div class="card-body">
          <a [routerLink]="['/unternehmen', security.name, security.id]">
            {{security.name}} <span class="fa fa-arrow-circle-right"></span>
          </a>
      </div>
    </div>
  </div>
</div>
