<div class="row">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let fav of (favouredSecurities$|async)">
      <div class="form-row">
        <div class="col-12 col-sm-4">
          <app-number-input
          [anzahl]="fav.amount"
          [smallestUnit]="fav.company.smallestTradeableUnit"
          (numberChanged)="updateStore($event, fav.company)"
          ></app-number-input>
        </div>
        <div class="col-12 col-sm-5 text-center">
          <a class="" [routerLink]="['/wertpapier', fav.company.name, fav.company.id]">
            <img src="{{fav.company.logo}}">
            <div>
              {{fav.company.name}}
            </div>
          </a>
        </div>
        <div class="col-12 col-sm-3 text-right">
          <app-price-display [fav]="fav"></app-price-display>
        </div>
      </div>
    </li>
  </ul>
</div>
