<div class="row">
  <div class="col-12">
    <div class="small">
      Ihre favourisierten Aktien:
    </div>
  </div>
</div>
<div class="row">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let fav of (favouredSecurities$|async)">
      <div class="row">
        <div class="col-6 col-sm-4">
          <app-number-input
          [anzahl]="fav.amount"
          [smallestUnit]="fav.company.smallestTradeableUnit"
          (numberChanged)="updateStore($event, fav.company)"
          ></app-number-input>
        </div>
        <div class="col-6 col-sm-5">
          <a class="" [routerLink]="['/unternehmen', fav.company.name, fav.company.id]">
            {{fav.company.name}} <span class="fa fa-arrow-circle-right"></span>
          </a>
          <div>
            {{fav.company.city}}, {{Countries[fav.company.country]}}
          </div>
          <div>
            <span class="small badge badge-secondary margin horizontal right-5" *ngFor="let tag of fav.company.industries">
              {{tag}}
            </span>
          </div>
        </div>
        <div class="col-6 col-sm-2 text-right">
          <app-price-display [fav]="fav"></app-price-display>
        </div>
        <div class="col-6 col-sm-1 text-right">
          <app-add-to-favourites [version]="'short'" [company]="fav.company"></app-add-to-favourites>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="row">
  <div class="col-12 text-right" *ngIf="(favouredSecurities$|async).length > 0">
    <div>
      Summe: ca. {{getNetSum((favouredSecurities$|async), 'EUR') | number:'1.2-2':'de'}} EUR
    </div>
    <div class="small">
      Ohne Kaufgebühren
    </div>
  </div>
</div>
<ng-container *ngIf="(favouredSecurities$|async).length > 0">

  <app-industry-chart [companyStocks]="favouredSecurities$|async"></app-industry-chart>

</ng-container>
