<div class="home row">
  <div class="col-12 margin vertical top-bottom-10">
    <div class="small">
      Bestimme deine <span class="font-weight-bold">Risikobereitschaft</span>
    </div>
    <ng5-slider
    [(value)]="value"
    [options]="options"
    (valueChange)="reset()"
    ></ng5-slider>
  </div>
  <div class="col-12 margin vertical top-bottom-20">
    <div class="alert alert-danger" role="alert" *ngIf="!this.sparplanService.addsUptoSparplanSum(sparplanMuster, sparplanSum$|async)">
      Die einzelnen Sparpläne ergeben nicht die Gesamtsparplansumme.
    </div>
  </div>
  <div class="col-12 margin vertical top-bottom-10">
    <div class="font-weight-bold">
      Ausgehend von einer gesamten Sparplansumme von
      <app-number-input
      [anzahl]="sparplanSum$|async"
      [smallestUnit]="1"
      [unit]="'EUR'"
      (numberChanged)="updateSparplanTotal($event)"
      ></app-number-input>
    </div>
  </div>
  <div class="col-12 margin vertical top-bottom-10">
    <div *ngFor="let etf of sparplanMuster; let ind = index">
      <app-security-list-item
      [fav]="etf"
      [totalPrice]="this.priceService.getNetSum(sparplanMuster, 'EUR')"
      [sparplanSum]="sparplanSum$|async"
      [percentagesAreCorrect]="this.sparplanService.addsUptoSparplanSum(sparplanMuster, sparplanSum$|async)"
      [showCosts]="false"
      [listItemCounter]="ind"
      [isTemplate]="true"
      >
      </app-security-list-item>
    </div>
  </div>
</div>
