<ng-container *ngIf="version === 'long'">
  <button *ngIf="(favouredSecuritiesIdList$|async).length === 0 || (favouredSecuritiesIdList$|async).indexOf(company.id) === -1" type="button" class="btn btn-primary btn-sm" (click)="addToFavourites(company)">
      Zu Sparplan hinzufügen
  </button>
  <ng-container *ngIf="(favouredSecuritiesIdList$|async).length > 0 && (favouredSecuritiesIdList$|async).indexOf(company.id) > -1">
    <button  type="button" class="btn btn-secondary btn-sm" (click)="removeFromFavourites(company)">
      Aus Sparplan entfernen
    </button>
<!--    <div class="small">-->
<!--      <a class="clickable small btn-link" [routerLink]="'/' + ROUTE_MY_SAVING_PLAN_HOME">-->
<!--        <span class="fa fa-list"></span> Wertpapiersparplan ansehen-->
<!--      </a>-->
<!--    </div>-->
  </ng-container>
</ng-container>
<ng-container *ngIf="version === 'short'">
  <button *ngIf="(favouredSecuritiesIdList$|async).length === 0 || (favouredSecuritiesIdList$|async).indexOf(company.id) === -1" type="button" class="btn btn-primary btn-sm" (click)="addToFavourites(company)">
    <span class="fa fa-plus-circle abs-fa"></span><span class="fa fa-list"></span>
  </button>
  <button *ngIf="(favouredSecuritiesIdList$|async).length > 0 && (favouredSecuritiesIdList$|async).indexOf(company.id) > -1" type="button" class="btn btn-danger btn-sm" (click)="removeFromFavourites(company)">
    <span class="fa fa-minus-circle abs-fa"></span><span class="fa fa-list"></span>
  </button>
</ng-container>
