<div class="home row">
  
  <div class="col-12 margin vertical top-bottom-10">
    
    <div class="card hero">
      <div class="card-body text-center">
        <p class="background-dark-grey opacity-75">
            {{content.headline}}
        </p>
      </div>
    </div>
    
  </div>
  
  <div class="col-12 margin vertical top-bottom-10">
    <div [innerHTML]="content.body">
    </div>
    <div class="small" *ngIf="content.source !== undefined">
      Quelle:
      <a href="{{content.source.url}}" target="_blank">{{content.source.name}}</a>
    </div>
    <div *ngIf="content.more !== undefined">
      Weitergehende Informationen können hier gefunden werden:
      <a href="{{content.more.url}}" target="_blank">{{content.more.name}}</a>
    </div>
  </div>

  
</div>
