<div class="result" *ngIf="foundSecurities.length > 0">
      Gefundene Wertpapiere:
</div>
<div *ngFor="let security of foundSecurities">
  <div class="row result">
    <div class="col-5">
      <a [routerLink]="['/' + ROUTE_COMPANIES, security.name, security.id]">
        <img src="{{security.logo}}">
      </a>
    </div>
    <div class="col-5">
      <a [routerLink]="['/' + ROUTE_COMPANIES, security.name, security.id]">
        {{security.name}} <span class="fa fa-arrow-circle-right"></span>
      </a>
    </div>
    <div class="col-2 text-right">
      
      <app-add-to-sparplan [version]="'short'" [company]="security"></app-add-to-sparplan>
      
    </div>
  </div>
</div>
