<div class="row">
  <div class="col-12">
    <h5>
      Sparplan {{listItemCounter+1}}:
      <div class="float-right">
        <app-get-savingrate
        [fav]="fav"
        [totalPrice]="totalPrice"
        [sparplanSum]="sparplanSum"
        [noOfSecurities]="(favouredSecuritiesIdList$|async).length"
        [isTemplate]="isTemplate"
        [percentagesAreCorrect]="percentagesAreCorrect"
        (numberChanged)="updateSavingRate($event, fav.item)">
        </app-get-savingrate>
      </div>
    </h5>
  </div>
  <div class="col-12">
    <a *ngIf="fav.item.securityType!==SecurityType.ETF" class="" [routerLink]="['/' + ROUTE_COMPANIES, fav.item.name, fav.item.id]">
      <span class="badge badge-yellow">Aktie</span> {{fav.item.name}} <span class="fa fa-arrow-circle-right"></span>
    </a>
    <a *ngIf="fav.item.securityType===SecurityType.ETF" class="" [routerLink]="['/etf', fav.item.name, fav.item.isin]">
      <span class="badge badge-green">ETF</span> {{fav.item.name}} <span class="fa fa-arrow-circle-right"></span>
    </a>
    <div class="float-right">
      <app-add-to-sparplan [version]="'short'" [company]="fav.item"></app-add-to-sparplan>
    </div>
  </div>
  <div class="col-12">
    <ng-container *ngIf="fav.item.securityType === SecurityType.ETF">
      <div class="small">
        <ng-container *ngIf="fav.item.contains !== undefined">
          Der ETF besteht hauptsächlich aus {{fav.item.contains + 'n'}}
        </ng-container>
        <ng-container *ngIf="fav.item.countries !== undefined && fav.item.countries[0] !== undefined">
          der Länder {{fav.item.countries[0].name}} ({{fav.item.countries[0].portion | number:'1.2-2':'de'}}%)
        </ng-container>
        <ng-container *ngIf="fav.item.countries !== undefined && fav.item.countries[1] !== undefined">
          und {{fav.item.countries[1].name}} ({{fav.item.countries[1].portion | number:'1.2-2':'de'}}%)
        </ng-container>
        <ng-container *ngIf="fav.item.countries !== undefined && fav.item.countries[2] !== undefined">
          und {{fav.item.countries[2].name}} ({{fav.item.countries[2].portion | number:'1.2-2':'de'}}%)
        </ng-container>
        <ng-container *ngIf="fav.item.countries !== undefined && fav.item.countries[3] !== undefined">
          und weitere.
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="fav.item.securityType !== SecurityType.ETF">
      <app-company-industries [company]="fav.item"></app-company-industries>
    </ng-container>

  </div>
  <div class="col-12">
    <!-- TODO: Put this into a separate component and get rid of showCosts -->
    <div *ngIf="showCosts" class="card">
      <div class="card-body">
        <div *ngIf="fav.item['ter'] !== undefined">
          Jährliche Kosten (TER):
          <span class="font-weight-bold"> {{getYearlyCosts() | number:'1.2-2':'de'}} {{fav.item.currency}} </span>
          ({{ fav.item.ter | number:'1.2-2':'de' }} %)
        </div>
        <div>
          Kosten bei (monatlichen) Ausführung des Sparplans bei
        </div>
        <div *ngFor="let broker of sparplanBroker">
          <div class="alert alert-info" *ngIf="broker.maxNumberOfSecuritiesPerSavingPlan === 1">
            {{broker.name}}:
            <span *ngIf="broker.minAmountPerSavingPlan > fav.savingRate">
              <span class="color color--red">Minimum-Sparrate von {{broker.minAmountPerSavingPlan}} {{broker.currencyOfSavingPlan}} nicht erreicht</span>
            </span>
            <span *ngIf="broker.minAmountPerSavingPlan <= fav.savingRate">
              <app-sparplan-kosten-per-broker [broker]="broker" [savingRate]="fav.savingRate"></app-sparplan-kosten-per-broker>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
