<div class="row">
  <div class="col-12">
    <h5>
      Sparplan {{listItemCounter+1}}:
      <div class="float-right">
        <app-get-savingrate
        [fav]="fav"
        [totalPrice]="totalPrice"
        [sparplanSum]="sparplanSum"
        [noOfSecurities]="(favouredSecuritiesIdList$|async).length"
        [isTemplate]="isTemplate"
        [percentagesAreCorrect]="percentagesAreCorrect"
        (numberChanged)="updateSavingRate($event, fav.item)">
        </app-get-savingrate>
      </div>
    </h5>
  </div>
  <div class="col-12">
    <a *ngIf="fav.item.securityType!==SecurityType.ETF" class="" [routerLink]="['/' + ROUTE_COMPANIES, fav.item.name, fav.item.id]">
      <span class="badge badge-primary">Aktie</span> {{fav.item.name}} <span class="fa fa-arrow-circle-right"></span>
    </a>
    <a *ngIf="fav.item.securityType===SecurityType.ETF" class="" [routerLink]="['/etf', fav.item.name, fav.item.isin]">
      <span class="badge badge-secondary">ETF</span> {{fav.item.name}} <span class="fa fa-arrow-circle-right"></span>
    </a>
    <div class="float-right" *ngIf="!isTemplate">
      <app-add-to-sparplan [version]="whichVersion" [company]="fav.item"></app-add-to-sparplan>
    </div>
  </div>
  <div class="col-12">
    <ng-container *ngIf="fav.item.securityType === SecurityType.ETF">
      <div class="small">
        <ng-container *ngIf="fav.item.isGreen">
          Der ETF investiert in Unternehmen, die etwas für Nachhaltigkeit <span class="fa fa-leaf color color--green"></span> tun.
        </ng-container>
        <ng-container *ngIf="fav.item.contains !== undefined">
          Der ETF besteht hauptsächlich aus {{fav.item.contains + 'n'}}
        </ng-container>
        <ng-container *ngIf="fav.item.countries !== undefined && fav.item.countries[0] !== undefined">
          der Länder {{fav.item.countries[0].name}} ({{fav.item.countries[0].portion | number:'1.2-2':'de'}}%)
        </ng-container>
        <ng-container *ngIf="fav.item.countries !== undefined && fav.item.countries[1] !== undefined">
          und {{fav.item.countries[1].name}} ({{fav.item.countries[1].portion | number:'1.2-2':'de'}}%)
        </ng-container>
        <ng-container *ngIf="fav.item.countries !== undefined && fav.item.countries[2] !== undefined">
          und {{fav.item.countries[2].name}} ({{fav.item.countries[2].portion | number:'1.2-2':'de'}}%)
        </ng-container>
        <ng-container *ngIf="fav.item.countries !== undefined && fav.item.countries[3] !== undefined">
          und weitere.
        </ng-container>
      </div>
      <div class="small" *ngIf="fav.item.riskClass !== undefined">
        Risikoklasse:
        <span class="badge
          {{fav.item.riskClass===RiskClasses.Keine ? 'badge-success' : ''}}
          {{fav.item.riskClass===RiskClasses.Gering ? 'badge-yellow' : ''}}
          {{fav.item.riskClass===RiskClasses.Gewisse ? 'badge-warning' : ''}}
          {{fav.item.riskClass===RiskClasses.Hohe ? 'badge-danger' : ''}}">
          {{getRiskClass(fav.item.riskClass)}}
        </span>
      </div>
    </ng-container>
    <ng-container *ngIf="fav.item.securityType !== SecurityType.ETF">
      <app-company-industries [company]="fav.item"></app-company-industries>
      <div class="small">
        Risikoklasse:
        <span class="badge badge-danger">
          {{getRiskClass(RiskClasses.Hohe)}}
        </span>
      </div>
    </ng-container>

  </div>
  <div class="col-12" *ngIf="!isTemplate">
    <app-sparplan-kosten-per-item [fav]="fav"></app-sparplan-kosten-per-item>
  </div>
</div>
