:host {
  .hero {
    max-width: 760px;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    background-position: center;
    background-image: url("../../../assets/images/rentner.jpg");
  }
}
