<div class="home row position-absolut w-100-percent h-100-percent">
  
  <div class="col-12 margin-top-50-percent h-100-percent">
  
  
        <a
        class="btn btn-primary w-100-percent margin vertical top-bottom-10"
        [routerLink]="'/unternehmen'"
        role="button">
          Ich suche Unternehmen (und deren Aktien)
        </a>
        
        
        <a
        class="btn btn-primary w-100-percent margin vertical top-bottom-10"
        [routerLink]="'/etfs'"
        role="button">
          Ich suche ETFs
        </a>
      

  </div>


</div>
