<div class="home">

  <div class="d-flex justify-content-center align-items-center min-h-500px">

    <div>
      Wähle deine Suchmethode
    </div>
    
  </div>

  <div class="d-flex justify-content-center align-items-center min-h-500px">

      <div class="btn-group" role="group" aria-label="such methoden" *ngFor="let x of searchMethods | keyvalue; let i = index">
          <button type="button" class="btn btn-secondary" [ngClass]="{'active': (selectedSearchMethod$ | async)===searchMethods[i]}" (click)="setMethod(i)">{{searchMethods[i]}}</button>
      </div>

  </div>

  <div *ngIf="(selectedSearchMethod$ | async) === SearchMethods[0]"></div>
  <div *ngIf="(selectedSearchMethod$ | async) === SearchMethods[1]">
    <app-by-industry></app-by-industry>
  </div>
  <div *ngIf="(selectedSearchMethod$ | async) === SearchMethods[2]"></div>


</div>
