<div class="result" *ngIf="foundSecurities.length > 0">
      Gefundene Wertpapiere:
</div>
<div *ngFor="let security of foundSecurities">
  <div class="row result">
    <div class="col-5">
      <a [routerLink]="['/wertpapier', security.name, security.id]">
        <img src="{{security.logo}}">
      </a>
    </div>
    <div class="col-5">
      <a [routerLink]="['/wertpapier', security.name, security.id]">
        {{security.name}} <span class="fa fa-arrow-circle-right"></span>
      </a>
    </div>
    <div class="col-2 text-right">
      <button *ngIf="(favouredSecuritiesIdList$|async).length === 0 || (favouredSecuritiesIdList$|async).indexOf(security.id) === -1" type="button" class="btn btn-primary btn-sm" (click)="addToFavourites(security)">
        <span class="fa fa-heart"></span>
      </button>
      <button *ngIf="(favouredSecuritiesIdList$|async).length > 0 && (favouredSecuritiesIdList$|async).indexOf(security.id) > -1" type="button" class="btn btn-danger btn-sm" (click)="removeFromFavourites(security)">
        <span class="fa fa-heart"></span>
      </button>
    </div>
  </div>
</div>
