<div class="result" *ngIf="foundSecurities.length > 0">
      Gefundene Wertpapiere:
</div>
<div *ngFor="let security of foundSecurities">
  <a class="row result" [routerLink]="['/wertpapier', security.name, security.id]">
    <div class="col-7">
      <a class="" [routerLink]="['/wertpapier', security.name, security.id]"><img src="{{security.logo}}"></a>
    </div>
    <div class="col-5">
      <a class="" [routerLink]="['/wertpapier', security.name, security.id]">{{security.name}}</a>
    </div>
  </a>
</div>
