<div>
  <div class="btn-link clickable small" (click)="showCosts=!showCosts">
      Kosten
      <span *ngIf="!showCosts">einblenden <span class="fa fa-plus-circle"></span></span>
      <span *ngIf="showCosts">ausblenden <span class="fa fa-minus-circle"></span></span>
  </div>
</div>
<div *ngIf="showCosts" class="card">
  <div class="card-body">
    <div *ngIf="fav.item['ter'] !== undefined">
      Jährliche Kosten (TER):
      <span class="font-weight-bold"> {{getYearlyCosts() | number:'1.2-2':'de'}} {{fav.item.currency}} </span>
      ({{ fav.item.ter | number:'1.2-2':'de' }} %)
    </div>
    <div>
      Kosten bei (monatlichen) Ausführung des Sparplans bei
    </div>
    <div *ngFor="let broker of sparplanBroker">
      <div class="alert alert-light clickable {{chosenBroker && chosenBroker.name === broker.name ? 'background-grey color color--white' : ''}}"
         *ngIf="broker.maxNumberOfSecuritiesPerSavingPlan === 1"
         (click)="selectBroker(broker)">
        {{broker.name}}:
        <div>
          <span *ngIf="broker.minAmountPerSavingPlan > fav.savingRate">
            <span class="color color--red">Minimum-Sparrate von {{broker.minAmountPerSavingPlan}} {{broker.currencyOfSavingPlan}} nicht erreicht</span>
          </span>
          <span *ngIf="broker.minAmountPerSavingPlan <= fav.savingRate">
            <app-sparplan-kosten-per-broker [broker]="broker" [savingRate]="fav.savingRate"></app-sparplan-kosten-per-broker>
          </span>
        </div>
        <div class="text-right">
          <span class="btn btn-primary" *ngIf="!chosenBroker || chosenBroker.name !== broker.name">
            Auswählen
          </span>
          <span *ngIf="chosenBroker && chosenBroker.name === broker.name">
            <span class="fa fa-check"></span> Ausgewählt
            <button class="btn btn-primary">Zum Angebot</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="alert alert-danger" *ngIf="showCosts && !chosenBroker">
    Bitte wähle einen Broker bzw. eine Bank
  </div>
  <button class="float-right btn btn-primary" *ngIf="!showCosts" (click)="showCosts=!showCosts">Broker auswählen</button>
</div>
