
<div class="home row">

  <ng-container *ngIf="(value >= 0 || selectedInvestmentOption === InvestmentOptions.CLEAN)">
  
    <div class="col-12 margin vertical top-bottom-10">
      <div class="row">
        <div class="col-sm-6 col-12">
          Ändere deine
          <span class="btn-link clickable" (click)="restart()">
            Investmententscheidung
            <span class="fa fa-arrow-circle-down" *ngIf="!showSlider"></span>
            <span class="fa fa-arrow-circle-up" *ngIf="showSlider"></span>
          </span>
        </div>
        <div class="col-sm-6 col-12 text-right">
          <button class="btn btn-primary float-right" (click)="saveAll()">Das Muster übernehmen</button>
        </div>
      </div>
    </div>
  </ng-container>
  
  <ng-container *ngIf="value < 0 || selectedInvestmentOption === null">
    
    <div class="col-12 margin vertical top-bottom-10" *ngIf="selectedInvestmentOption === null">
      <h5>
        Wähle deine Investmentstrategie
      </h5>
      <div class="row margin vertical top-bottom-10">
        <div class="col-sm-6" *ngFor="let x of investmentOptions">
          <div class="card {{x.value === selectedInvestmentOption ? 'background-grey' : ''}}" (click)="setInvestmentOption(x.value)">
            <div class="card-body">
              <h5 class="card-title">
                {{x.header}}
                <span *ngIf="x.value === InvestmentOptions.CLEAN" class="fa fa-leaf color color--green"></span>
              </h5>
              <div>
                {{x.text}}
              </div>
              <div class="text-right">
                <span class="btn btn-primary">Passt zu mir</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-12 margin vertical top-bottom-10" *ngIf="selectedInvestmentOption === InvestmentOptions.CLASSIC">
      <h5>
        Wähle deine Risikobereitschaft
      </h5>
      <div class="row margin vertical top-bottom-10">
        <div class="col-sm-6" *ngFor="let x of textForStepArray|slice:0:2">
          <div class="card {{x.value === value ? 'background-grey' : ''}}" (click)="setRiskAppetite(x.value)">
            <div class="card-body">
              <h5 class="card-title">{{x.header}}</h5>
              <div>
                {{x.text}}
              </div>
              <div class="alert alert-secondary margin vertical top-bottom-10">
                {{x.yield}}
              </div>
              <div class="text-right">
                <span class="btn btn-primary">Passt zu mir</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row margin vertical top-bottom-10">
        <div class="col-sm-6"  *ngFor="let x of textForStepArray|slice:2:4">
          <div class="card {{x.value === value ? 'background-grey' : ''}}" (click)="setRiskAppetite(x.value)">
            <div class="card-body">
              <h5 class="card-title">{{x.header}}</h5>
              <div>
                {{x.text}}
              </div>
              <div class="alert alert-secondary margin vertical top-bottom-10">
                {{x.yield}}
              </div>
              <div class="text-right">
                <span class="btn btn-primary">Passt zu mir</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </ng-container>
  
  <ng-container *ngIf="value >= 0 || selectedInvestmentOption === InvestmentOptions.CLEAN">
    
    <div class="col-12 margin vertical top-bottom-10" *ngIf="!this.sparplanService.addsUptoSparplanSum(sparplanMuster, sparplanSum$|async)">
      <div class="alert alert-danger" role="alert">
        Die einzelnen Sparpläne ergeben nicht die Gesamtsparplansumme.
      </div>
    </div>
    <div class="col-12 margin vertical top-bottom-10">
      <div class="alert alert-info">
        Ausgehend von
        <span *ngIf="selectedInvestmentOption !== InvestmentOptions.CLEAN" class="font-weight-bold">
          {{getHeaderRisk()}}
        </span>
        <span *ngIf="selectedInvestmentOption === InvestmentOptions.CLEAN" class="font-weight-bold">
          deiner Entscheidung nachhaltig  <span class="fa fa-leaf color color--green"></span> zu investieren
        </span>
        und einer gesamten Sparplansumme von
        <span class="font-weight-bold">{{sparplanSum$|async}} {{Currency.EUR}}</span>
        wurde folgendes Portfolio aus
        <span *ngIf="sparplanMuster.length === 1">einem ETF</span>
        <span *ngIf="sparplanMuster.length > 1">{{sparplanMuster.length}} ETFs</span>
        zusammengestellt.
      </div>
    </div>
    <div class="col-12 margin vertical top-bottom-10">
      <div *ngFor="let etf of sparplanMuster; let ind = index">
        <app-security-list-item
        [fav]="etf"
        [totalPrice]="this.priceService.getNetSum(sparplanMuster, 'EUR')"
        [sparplanSum]="sparplanSum$|async"
        [percentagesAreCorrect]="this.sparplanService.addsUptoSparplanSum(sparplanMuster, sparplanSum$|async)"
        [showCosts]="false"
        [listItemCounter]="ind"
        [isTemplate]="true"
        (savingRateChanged)="updateSavingrate($event, etf)"
        >
        </app-security-list-item>
      </div>
    </div>
    <div class="col-12" *ngIf="sparplanMuster.length > 1">
      <div class="alert alert-warning" role="alert">
        Zur Info: Die meisten Banken/Broker erlauben nur Sparpläne mit einen Wert.
        Du müsstest also <span class="font-weight-bold">mehrere Sparpläne</span> eröffnen,
        sprich für jedes Wertpapier 1 Sparplan.
        <a [routerLink]="['/' + ROUTES_SAVING_PLAN_COSTS]">Mehr Informationen <span class="fa fa-arrow-circle-right"></span></a>
      </div>
    </div>
  </ng-container>
  
</div>
