.hero {
  max-width: 760px;
  margin: 0 auto;
  color: white;
  font-weight: bold;
  background-position: center;
  .card-body {
    padding-top: 30%;
    a {
      color: white !important;
    }
  }
}


.margin {
  &.vertical {
    &.top-bottom-10 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    &.top-bottom-20 {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  &.horizontal {
    &.right-5 {
      margin-right: 5px;
    }
    &.left-5 {
      margin-left: 5px;
    }
  }
}
.btn-group {
  width: 100%;
}
.color {
  &.color--green {
    color: green;
  }
  &.color--red{
    color: red;
  }
  &.color--blue{
    color: blue;
  }
}
.badge {
  max-width: 100%;
  overflow: hidden;
}
.badge-number {
  font-size: 9px;
  padding: 0;
  background: red;
  border-radius: 10px;
  width: 15px;
  height: 15px;
  color: white;
  line-height: 15px;
  position: absolute;
  text-align: center;
}
.clickable {
  cursor: pointer;
}
.position-absolut {
  position: absolute;
}
.h-100-percent {
  height: 100%;
}
.w-100-percent {
  width: 100%;
}
.margin-top-50-percent{
  margin-top: 50%;
}
.error{
  background: red;
  color: white;
  padding: 5px;
}
.badge-yellow{
  background-color: #e2c73f;
  color: white;
}
.badge-green{
  background-color: #19f520;
  color: white;
}
.background-grey{
  background-color: #999999;
}
.background-dark-grey {
  background-color: #4c4c4c;
}
.background-black{
  background-color: #000000;
}
.opacity-75 {
  opacity: 0.75;
}
@media (max-width: 360px) {
  .btn-group {
    button {
      font-size: 10px !important;
    }
  }
}

