.margin {
  &.vertical {
    &.top-bottom-10 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  &.horizontal {
    &.right-5 {
      margin-right: 5px;
    }
  }
}
.btn-group {
  width: 100%;
}
.color {
  &.color--green {
    color: green;
  }
  &.color--red{
    color: red;
  }
  &.color--blue{
    color: blue;
  }
}
.badge-number {
  font-size: 9px;
  padding: 0;
  background: red;
  border-radius: 10px;
  width: 15px;
  height: 15px;
  color: white;
  line-height: 15px;
  position: absolute;
  text-align: center;
}
.clickable {
  cursor: pointer;
}
.position-absolut {
  position: absolute;
}
.h-100-percent {
  height: 100%;
}
.w-100-percent {
  width: 100%;
}
.margin-top-50-percent{
  margin-top: 50%;
}
