<div class="margin vertical top-bottom-10">
  <div class="row">
    <div class="col-xs-12 col-sm-5 text-center">
      <img class="logo" src="{{company.logo}}">
    </div>
    <div class="col-xs-12 col-sm-7 text-right">
      <h1>{{company.name}}</h1>
      <div>
        <button *ngIf="(favouredSecuritiesIdList$|async).length === 0 || (favouredSecuritiesIdList$|async).indexOf(company.id) === -1" type="button" class="btn btn-primary" (click)="addToFavourites()">
          Zu Favoriten <span class="fa fa-heart"></span> hinzufügen
        </button>
        <button *ngIf="(favouredSecuritiesIdList$|async).length > 0 && (favouredSecuritiesIdList$|async).indexOf(company.id) > -1" type="button" class="btn btn-danger" (click)="addToFavourites()">
          Aus Favoriten <span class="fa fa-heart"></span> entfernen
        </button>
      </div>
      <div>
        {{company.city}}, {{Countries[company.country]}}
      </div>
      <div>
        <a href="{{company.url}}" target="_blank">{{company.url}}</a>
      </div>
      <div>
        <span class="small badge badge-secondary margin horizontal right-5" *ngFor="let tag of company.tags">
          {{tag}}
        </span>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <small>Das Unternehmen:</small>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <div class="font-italic">
            <span (click)="showMore.description=!showMore.description">
              {{ showMore.description || company.description.length < 100 ? company.description : company.description.substr(0,100) + '.....' }}
              <div class="small" *ngIf="showMore.description">
                Quelle: <a href="{{company.link_wikipedia}}" target="_blank">{{company.link_wikipedia}}</a>
              </div>
            </span>
            <span *ngIf="company.description.length >= 100" [ngSwitch]="showMore.description">
              <span class="small btn-link" *ngSwitchCase="false" (click)="showMore.description=true">mehr über {{company.name}}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    
    <div class="col-12 margin vertical top-bottom-10">
      
      <div class="btn-group" role="group" aria-label="details">
        <button type="button" class="btn btn-secondary" [ngClass]="{'active': selectedTab===1}" (click)="selectedTab = 1">Chart</button>
        <button type="button" class="btn btn-secondary" [ngClass]="{'active': selectedTab===0}" (click)="selectedTab = 0">Wertpapier</button>
        <button type="button" class="btn btn-secondary" [ngClass]="{'active': selectedTab===2}" (click)="selectedTab = 2">Produkte</button>
      </div>
      
    </div>
  
  </div>
  
  <div class="row" *ngIf="selectedTab===0">
    <div class="col-12">
      <div>
        <small>Wertpapier(e) des Unternehmens:</small>
      </div>
      <div>
        <div>
          Typ: {{company.securityType}}
        </div>
        <div>
          ISIN: {{company.isin}}
        </div>
        <div>
          Indizes:
          <span class="small badge badge-primary margin horizontal right-5" *ngFor="let ind of company.current_indices">
            {{ind}}
          </span>
        </div>
        <div>
          WKN: {{company.wkn}}
        </div>
        <div>
          Symbol: {{company.symbol}}
        </div>
        <div *ngIf="company.otherTradeableProducts.length > 0">
          <div>
            Andere handelbare Wertpapiere:
          </div>
          <ul>
            <li *ngFor="let tra of company.otherTradeableProducts">
              {{tra.name}}, ISIN: {{tra.isin}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="selectedTab===1">
    <div class="col-12">
      <div>
        <small>Der Chart für {{company.name}}, ISIN: {{company.isin}}</small>
      </div>
        <canvas baseChart
                [data]="chartData"
                [labels]="chartLabels"
                [chartType]="chartType"
                [legend]="chartLegend"
                [options]="chartOptions">
        </canvas>
    </div>
  </div>
  <div class="row" *ngIf="selectedTab===2">
    <div class="col-12" *ngIf="company.products.length>0">
        <a name="produkte"><small>Produkte:</small></a>
    </div>
    <div class="col-12" *ngIf="company.products.length>0">
      <div class="row">
        <div class="col-xs-6 col-sm-6 text-center" *ngFor="let product of company.products | slice:0:endNo">
          <img src="{{product.logo}}">
          <div>
            {{product.name}}
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 text-center" *ngIf="company.products.length > batchOfProductsToBeShown">
          <div [ngSwitch]="showMore.products">
            <span class="small btn-link" *ngSwitchCase="true" (click)="setNumberOfProducts()">
              <span class="fa fa-chevron-up icon-big"></span>
              <div>
                weniger Produkte
              </div>
            </span>
            <span class="small btn-link" *ngSwitchCase="false" (click)="setNumberOfProducts()">
              <span class="fa fa-chevron-down icon-big"></span>
              <div>
                mehr
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
