<div class="home row">
  
  <div class="col-12 margin vertical top-bottom-10">
    
    <div class="card hero">
      <div class="card-body text-center">
        <p class="background-dark-grey opacity-75">
          Sparplan bzw. Wertpapiersparplan
        </p>
      </div>
    </div>
  
  </div>
  
  <div class="col-12">
    Grundsätzlich beinhaltet ein Sparplan die regelmässige Einzahlung eines gewählten Betrages, um eine Sparsumme anzusparen. Im Fall eines
    Wertpapiersparplan geht es um einen Sparplan mit Aktien (Aktien-Sparen) und/oder ETFs (ETF-Sparen), um neben der Ansparsumme auch noch
    eine mögliche Rendite bzw. Kursgewinne zu erzielen.
  </div>
  
  <div class="col-12 margin vertical top-bottom-10">
    Ein Sparplan kann bei fast allen Banken und Brokern erstellt werden. Die Kosten dafür variieren. Hier kannst du mehr zu den
    <a [routerLink]="['/' + ROUTES_SAVING_PLAN_COSTS]">Kosten erfahren <span class="fa fa-arrow-circle-right"></span></a>.
  </div>
  
  <div class="col-12 margin vertical top-bottom-10 text-right">
    <a [routerLink]="'/' + ROUTE_SAVING_PLAN_STARTER" class="btn btn-primary btn-lg" href="#" role="button">
      Jetzt einen möglichen Sparplan erstellen <span class="fa fa-arrow-right"></span>
    </a>
  </div>


</div>
