<div class="margin vertical top-bottom-10">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" [ngClass]="{'active': ((selectedIndustries$ | async)?.length -1) === i}"
          *ngFor="let selectedIndustry of (selectedIndustries$ | async); let i = index">
              <span
                (click)="goToBreadcrumb(i)">
                {{selectedIndustry.name}}
              </span>
      </li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-sm-6" *ngFor="let industrie of industriesInThisLevel; let i = index;">
    <div class="card">
      <div class="card-body">
        <p class="card-text clearfix">
          <img class="industry-icon" src="assets/images/{{industrie.imageName}}">
          {{industrie.description}}
        </p>
        <p>
          <span
            class="btn btn-primary float-right"
            (click)="openIndustry(industrie)"
            *ngIf="industrie.subIndustries && industrie.subIndustries.length > 0">
              Mehr
          </span>
        </p>
        <p>
          <app-companies-list-in-industry [industryId]="industrie.id"></app-companies-list-in-industry>
        </p>
      </div>
    </div>
  </div>
</div>


