<div class="home row">
  
  <div class="col-12 margin vertical top-bottom-10">
    
    <div class="card hero">
      <div class="card-body text-center">
        <p class="background-dark-grey opacity-75">
          Wie spart man richtig, so daß man im Alter auch weiterhin gut leben kann.
        </p>
      </div>
    </div>
  
  </div>
  
  <div class="col-12 margin vertical top-bottom-10">
    Du kannst entweder Geld "parken" (auf dem Konto oder Sparbuch) oder dein Geld "investieren".
    Natürlich kannst die Scheine auch irgendwo verstecken. Vergiss dabei nicht das Versteck und
    beachte den Fakt, daß der Wert durch bei Inflation sinkt.
  </div>
  
  <div class="col-12" id="accordion">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" (click)="show2 = !show2">
            <span class="fa fa-book"></span> Geld "parken"
            <span class="small" *ngIf="!show2"> ... mehr <span class="fa fa-arrow-circle-down"></span></span>
            <span class="small" *ngIf="show2"> ... weniger <span class="fa fa-arrow-circle-up"></span></span>
          </button>
        </h5>
      </div>
      <div class="collapse {{show2 ? 'show' : ''}}">
        <div class="card-body">
          <div class="margin vertical top-bottom-10">
            Natürlich kann man das Geld auch auf dem Konto (oder Sparbuch) lassen. Allerdings gibt es dafür keine
            Zinsen mehr. Das Gegenteil ist teilweise der Fall: Die Banken verlagen einen Strafzins. Zusätzlich
            verliert das Geld in Jahren mit Inflation an Wert.
          </div>
          <div class="alert alert-secondary">
            Alternative: Festverzinsliche Anlagen. Hier sollte darauf geachtet werden, daß der Zinssatz über der
            Inflationsrate liegt.
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">
          <button class="btn btn-link" (click)="show1 = !show1">
            <span class="fa fa-bar-chart"></span>
              Geld "investieren"
              <span class="small" *ngIf="!show1"> ... mehr <span class="fa fa-arrow-circle-down"></span></span>
              <span class="small" *ngIf="show1"> ... weniger <span class="fa fa-arrow-circle-up"></span></span>
          </button>
        </h5>
      </div>
      <div class="collapse {{show1 ? 'show' : ''}}">
        <div class="card-body">
          <div class="margin vertical top-bottom-10">
            Wer "investiert" der kann in der Zukunft von den "Früchten" leben.
            "Investieren" ist heute einfacher als je zuvor - selbst mit kleinsten
            Beträgen kann man einsteigen. Natürlich sind Investitionen mit Risiken
            verbunden. Mehr zum Thema:
            <a [routerLink]="'/' + ROUTES_RISIKO_INVESTITION">Risiken minimieren <span class="fa fa-question-circle"></span></a>.
            Investionen sind z.B.:
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <div>
                <span class="fa fa-exchange"></span> <a [routerLink]="'/' + ROUTES_WAS_SIND_AKTIEN">Aktien <span class="fa fa-question-circle"></span></a>
              </div>
              <div class="margin vertical top-bottom-10">
                Um in Aktien aktiv zu investieren braucht man eigentlich nur Geduld. Langfristig lassen sich
                fast immer Gewinne erzielen. Um selbst aktiv an der Börse erfolgreich zu sein sollten einige
                <a [routerLink]="'/' + ROUTES_IN_AKTIEN_INVESTIEREN">wichtige Grundsätze <span class="fa fa-question-circle"></span></a>
                eingehalten werden.
              </div>
              <div class="alert alert-secondary vertical top-bottom-10">
                Alternative:
                In <a [routerLink]="'/' + ROUTES_INVESTMENTFONDS">Aktien-Fonds <span class="fa fa-question-circle"></span></a>
                investieren. Besonders beliebt sind
                <a [routerLink]="'/' + ROUTES_WAS_SIND_ETFS">ETFs (Exchange Traded Funds) <span class="fa fa-question-circle"></span></a>,
                also passiv gemanagte Fonds, da die Kosten geringer
                sind als bei aktiv gemanagten Fonds. Des Weiteren  Du kannst auch mit (sehr) kleinen Beträgen in Aktienfonds investieren.
              </div>
              <div class="alert alert-primary">
                Unsere Empfehlung: Mit einem <a [routerLink]="'/' + ROUTE_SAVING_PLAN_HOME">Sparplan</a> kannst du
                schon mit 25 EUR im Monat an der Börse partizieren und langfristig ein Vermögen aufbauen.
                <div class="text-right">
                  <a [routerLink]="'/' + ROUTE_SAVING_PLAN_STARTER" class="btn btn-primary btn-lg" href="#" role="button">
                    Jetzt einen möglichen Sparplan erstellen
                  </a>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div>
                <span class="fa fa-home"></span> Immobilien
              </div>
              <div class="margin vertical top-bottom-10">
                Die Immobilienpreise sind in den letzten Jahren stark gestiegen. Doch kann man immer noch
                eine Rendite um die 1-2 % erzielen, wenn man lang genug sucht. Allerdings liegen Einsteigspreise
                (z.B. 1-Zimmer-Wohnung) in Städten meist im sechsstelligen Bereich.
              </div>
              <div class="alert alert-secondary vertical top-bottom-10">
                Alternative: In <a [routerLink]="'/' + ROUTES_INVESTMENTFONDS">Immobilien-Fonds <span class="fa fa-question-circle"></span></a>
                oder in Aktien von Immobiliengesellschaften investieren. Dies ist auch mit (sehr) kleinen Beträgen möglich.
              </div>
            </li>
            <li class="list-group-item">
              <div>
                <span class="fa fa-leaf"></span> Rohstoffe
              </div>
              <div class="margin vertical top-bottom-10">
                Rohstoffe wie Kaffee, Öl, Palladium, Zucker etc. werden an Rohstoffbörsen gehandelt und können an
                Wert steigen und fallen. Als Privatperson kann man entweder den Rohstoff selbst kaufen oder über gehelbelte
                Finanzprodukte wie Optionsscheine. Von letzerem sollten Otto-Normalverbraucher aber besser die Finger lassen.
              </div>
              <div class="alert alert-secondary vertical top-bottom-10">
                Alternative: In ETCs (Exchange Traded Commodities) investieren und auch mit (sehr) kleinen Beträgen teilnehmen.
              </div>
            </li>
            <li class="list-group-item">
              <div>
                <span class="fa fa-car"></span> Knappe und seltene Güter
              </div>
              <div class="margin vertical top-bottom-10">
                Güter wie Kunstwerke, Sammlerstücke wie Briefmarken und Münzen, Oldtimer, Schmuck, Porzellan
                oder Wein können im Wert steigen. Oftmals geht der Preis aber mit nur mit steigender Seltenheit
                aufwärts. Daher ist diese Anlage wohl hauptsächlich für echte Connoisseure.
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-12 margin vertical top-bottom-20">
    Wenn du dir keine Gedanken machen willst in was du investierst kannst du auch zu einem Vermögensverwalter gehen.
    Diese bekommen dafür Provisionen und/oder eine Gewinnbeteiligung. Die Kosten können daher auch mal über 10 %
    liegen. Für die meisten Anleger sind Vermögensverwalter selten eine Option, da diese erst ab sechsstelligen Anlagesummen
    Kunden aufnehmen.
    <div class="alert alert-secondary margin vertical top-bottom-10">
      Alternative: Mit oft 500 EUR kann man von algorithmus-gesteuerten Vermögensverwaltern Geld verwalten lassen.
      Diese sogenannten <span class="font-weight-bold">Robo-Advisor</span> legen das Geld je nach individueller
      Risikobereitschaft in dazu passende Finanzprodukte an und treffen ständig Kauf-und Verkaufsentscheidungen.
      Die Provision liegt meist unter 1 %. Mehr Informationen bei <a href="https://www.finanzfluss.de/robo-advisor-vergleich/" target="_blank">Finanzfluss.de</a>.
    </div>
  </div>
  
</div>
