<nav class="navbar navbar-light bg-dark font-silver">
  <a class="navbar-brand" [routerLink]="'/'">
    wertpapiersparen
  </a>
  <div class="">
    <a class="float-left margin horizontal right-20" [routerLink]="'/' + ROUTE_SAVING_PLAN_KONFIGURATOR">Sparplan-Konfigurator</a>
    <a class="float-right {{(favouredSecuritiesIdList$|async)?.length > 0 ? 'color color--white font-weight-bold' : '' }}" [routerLink]="'/' + ROUTE_MY_SAVING_PLAN_HOME">
      <span class="badge-number" *ngIf="(favouredSecuritiesIdList$|async)?.length as favs">
        {{favs}}
      </span><span class="fa fa-list"></span> Sparplan
    </a>
  </div>
  
</nav>
