<div class="home">
  
  <div class="margin vertical top-bottom-10">
    
    <div class="text-center">
      Hier kannst du passende Unternehmen (und deren Aktien) mit Hilfe folgender Suchmethoden finden.
    </div>
  
  </div>
  
  <div class="d-flex justify-content-center align-items-center min-h-500px">
    
    <div class="btn-group" role="group" aria-label="Suchmethoden" *ngFor="let x of searchMethods | keyvalue; let i = index">
      <button type="button"
              class="btn btn-secondary"
              [ngClass]="{'active': (selectedSearchMethod$ | async) === SearchMethods[x.value]}"
              (click)="setMethod(SearchMethods[x.value])">
        {{searchMethods[i]}}
      </button>
    </div>
  
  </div>
  
  <div *ngIf="(selectedSearchMethod$ | async) === SearchMethods['Top10']">
    <app-companies-by-popularity></app-companies-by-popularity>
  </div>
  <div *ngIf="(selectedSearchMethod$ | async) === SearchMethods['Suchbegriff']">
    <app-companies-by-searchterm></app-companies-by-searchterm>
  </div>
  <div *ngIf="(selectedSearchMethod$ | async) === SearchMethods['Industrie(n)']">
    <app-companies-by-industry></app-companies-by-industry>
  </div>
  <div *ngIf="(selectedSearchMethod$ | async) === SearchMethods['Produkt(e)']">
    <app-companies-by-product></app-companies-by-product>
  </div>


</div>
