<div class="margin vertical top-bottom-10">
  <form #heroForm="ngForm">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="searchTerm"
        [formControl]="searchTermFormControl"
        placeholder="Suchbegriff eingeben">
    </div>
    <div [hidden]="searchTermFormControl.valid || searchTermFormControl.pristine"
         class="alert alert-danger">
      Bitte einen Suchbegriff eingeben
    </div>
  </form>
</div>
<div class="row" *ngIf="results.length > 0">
  <div class="col-12">
    <div *ngFor="let security of results">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-7">
              <a [routerLink]="['/unternehmen', security.name, security.id]">
                {{security.name}} <span class="fa fa-arrow-circle-right"></span>
              </a>
            </div>
            <div class="col-5 text-right">
              <app-add-to-favourites [version]="'short'" [company]="security"></app-add-to-favourites>
            </div>
          </div>
          <div>
            {{security.city}}, {{Countries[security.country]}}
          </div>
          <div class="small">
            {{security.description.length < 100 ? security.description : security.description.substr(0,95) + '...'}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
