<div class="home row">
  
  <div class="col-12 margin vertical top-bottom-10">
    
    <div class="card hero">
      <div class="card-body text-center">
        <p class="background-dark-grey opacity-75">
          Einen Sparplan erstellen
        </p>
      </div>
    </div>
    
  </div>
  
  <div class="col-12 margin vertical top-bottom-10">
    <div class="card">
      <div class="card-body text-center">
        <div>
          Ich möchte
          <app-sparplan-sum></app-sparplan-sum>
          monatlich sparen.
        </div>
        <div class="text-right">
          <a [routerLink]="'/' + ROUTE_SAVING_PLAN_KONFIGURATOR" class="btn btn-primary btn-lg">
            Sparplan starten <span class="fa fa-arrow-right"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  
</div>
