<div class="margin vertical top-bottom-10">
  <div class="col-12">
      <span class="badge"
            [ngClass]="filterArg === (productFilter$|async) ? 'badge-primary' : 'badge-secondary'"
            (click)="filter(filterArg)"
            *ngFor="let filterArg of filterArgs">
        {{filterArg}}
      </span>
  </div>
</div>
<div class="row" *ngIf="products.length > 0">
  <div class="col-12">
    <div *ngFor="let companyProduct of filteredProducts">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-9">
              {{companyProduct.product.name}} von
              <a [routerLink]="['/wertpapier', companyProduct.company.name, companyProduct.company.id]">
                {{companyProduct.company.name}} <span class="fa fa-arrow-circle-right"></span>
              </a>
            </div>
            <div class="col-3 text-right">
              <app-add-to-favourites [version]="'short'" [company]="companyProduct.company"></app-add-to-favourites>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
